---
import LayoutBase from '../layouts/LayoutBase.astro';
import unidades from '../data/campi.json';
---

<LayoutBase mostrarBotaoVoltar={true}>
  <div class="flex flex-col gap-5 max-w-100 mx-auto pb-10">

    {unidades.map((unidade) => {
      const listaDeCursos = unidade.cursos.map(curso => curso.nome).join(', ');

      return (
        <div class="bg-gray-50 border border-gray-100 rounded-[20px] p-6 shadow-sm">
          
          <div class="flex items-center gap-3 mb-3">
            <i class="fa-solid fa-location-dot text-[#BC1823] text-xl"></i>
            <h3 class="font-bold text-gray-800 text-lg leading-tight">
              {unidade.campus}
            </h3>
          </div>

          <div class="mb-4">
            <p class="text-[11px] text-gray-400 font-bold uppercase tracking-wider mb-1">Localização</p>
            <p class="text-[13px] text-[#BC1823] font-semibold flex items-center gap-2">
              <i class="fa-solid fa-map-pin"></i>
              {unidade.localizacao}
            </p>
          </div>

          <div class="pt-4 border-t border-gray-200">
            <p class="text-[11px] text-gray-400 font-bold uppercase tracking-wider mb-2">Cursos Ofertados</p>
            <p class="text-[13px] text-gray-600 leading-relaxed font-medium">
              {listaDeCursos}.
            </p>
          </div>
          
        </div>
      );
    })}

  </div>
</LayoutBase>