---
import LayoutBase from '../layouts/LayoutBase.astro';
import restaurantes from '../data/rus.json';
---

<LayoutBase mostrarBotaoVoltar={true}>
  <div class="flex flex-col gap-4 max-w-100 mx-auto">

    <p class="text-sm text-gray-500 font-medium mb-2 px-2">
      Selecione o seu campus para baixar o cardápio em PDF:
    </p>

    {restaurantes.map((ru) => (
    <a href={ru.linkPdf} target="_blank"
      class="bg-gray-50 border border-gray-100 rounded-[20px] p-4 flex items-center justify-between hover:bg-gray-100 hover:scale-[1.02] transition-all shadow-sm group">
      <div class="flex items-center gap-4">
        <div class="bg-[#BC1823] text-white w-12 h-12 rounded-full flex items-center justify-center shrink-0 shadow-md">
          <i class="fa-solid fa-utensils"></i>
        </div>

        <div>
          <h2 class="font-bold text-gray-800 leading-tight text-[15px] pr-2">
            {ru.nome} ({ru.sigla})
          </h2>
        </div>
      </div>

      <i class="fa-solid fa-chevron-right text-gray-300 group-hover:text-[#C81D25] transition-colors"></i>
    </a>
    ))}

  </div>
</LayoutBase>