---
import '../styles/global.css';
import restaurantes from '../data/rus.json';
---

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description"
		content="Portal do Aluno criado pela Pró-Reitoria de Ensino de Graduação da Universidade Federal de São João del-Rei (PROEN UFSJ)">
	<title>Portal do Aluno - UFSJ</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
</head>
  
  <body class="bg-[#920F21] antialiased">

    <header class="px-6 pt-8 pb-14 flex items-center justify-between">
		<div>
            <p class="text-white text-xs font-light uppercase">PROEN UFSJ</p>
            <h1 class="text-white text-2xl font-bold">Portal do Aluno</h1>
        </div>
        
        <a href="/" class="text-white hover:text-white/70 transition-colors">
            <i class="fa-solid fa-house text-xl"></i>
        </a>
	</header>

    <main class="bg-white min-h-screen rounded-t-[40px] px-6 py-8 -mt-8">
      
      <div class="flex flex-col gap-4 max-w-100 mx-auto">
        
        <p class="text-sm text-gray-500 font-medium mb-2 px-2">
          Selecione o seu campus para baixar o cardápio em PDF:
        </p>

        {restaurantes.map((ru) => (
          <a 
            href={ru.linkPdf} 
            target="_blank" 
            class="bg-gray-50 border border-gray-100 rounded-[20px] p-4 flex items-center justify-between hover:bg-gray-100 hover:scale-[1.02] transition-all shadow-sm group"
          >
            <div class="flex items-center gap-4">
              <div class="bg-[#BC1823] text-white w-12 h-12 rounded-full flex items-center justify-center shrink-0 shadow-md">
                <i class="fa-solid fa-utensils"></i>
              </div>
              
              <div>
                <h2 class="font-bold text-gray-800 leading-tight text-[15px] pr-2">
                  {ru.nome} ({ru.sigla})
                </h2>
              </div>
            </div>

            <i class="fa-solid fa-chevron-right text-gray-300 group-hover:text-[#C81D25] transition-colors"></i>
          </a>
        ))}

      </div>
    </main>
  </body>
</html>