---
import '../styles/global.css';

// Aqui nós definimos as "variáveis" que o layout vai receber de cada página
const { mostrarBotaoVoltar } = Astro.props;
---

<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Portal do Aluno criado pela Pró-Reitoria de Ensino de Graduação da Universidade Federal de São João del-Rei (PROEN UFSJ)">
    <title>Portal do Aluno - UFSJ</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
</head>

<body class="bg-[#920F21] antialised">

    <header class="px-6 pt-8 pb-14 flex items-center justify-between">
        <div>
            <p class="text-white text-xs font-light uppercase">PROEN UFSJ</p>
            <h1 class="text-white text-2xl font-bold">Portal do Aluno</h1>
        </div>

        {mostrarBotaoVoltar && (
        <a href="/" class="text-white">
            <i class="fa-solid fa-house text-xl"></i>
        </a>
        )}
    </header>

    <main class="bg-white min-h-screen rounded-t-[40px] px-6 py-8 -mt-8">

        <slot />

    </main>
</body>

</html>